.container {
	max-width: 939px; // was 975px
	padding: 0;
	//border: 1px solid black;
}

.jumbotron {
	text-align: center;
	background-color: #fff;
	border-radius: 0 !important;
}
#footer {
	text-align: center;
	margin: 95px auto 0 auto;
	background-color: $footer_gray_color;
	padding: 15px 0;
	color: $med_gray_text_color;
	p {
		@include font_size(12px);
		margin-bottom: 0;
	}
}
#toTop {
	display: none;
}
#banner-cont {
	min-width: 321px;
}
body {
  //min-height: 2000px;
}
h1 {
	display: none;
}
.block-content {
	font-family: Arial, Helvetica, sans-serif;
	@include font_size(14px);
	@include line_height(20px);
	letter-spacing: .01em;
	>.content-header {
		font-family: Arial, Helvetica, sans-serif;
		@include font_size(14px);
		font-weight: bold;
		letter-spacing: .01em;
	}
	>.sub-def {
		padding-left: 30px;
	}
}	
#main-content .block-content .inline-img {
		display: inline-block;
		padding-right: 15px;
		margin: 0 !important;
		float: left;
	}
.footnotes {
	border-top: 1px solid #ccc;
	margin-top: 70px;
	padding-top: 5px; 
	ol, ul {
		padding-left: 0;
		margin-top: 7px !important;
		margin-left: 15px;
	}
}
.footnotes, .footnotes ul li {
	font-family: Arial, Helvetica, sans-serif;
	@include font_size(13px);
	@include line_height(18px);
}	
h2.block-title {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	font-family: Arial, Helvetica, sans-serif;		
	@include font_size(24px);
	font-style: italic;
	letter-spacing: .01em;
	outline: none;
}
.row-no-margin {
	margin-left: 0;
	margin-right: 0;
}
.nobr {
	white-space: nowrap;
}
.btn-txt {
	display: none;
}
.cal-iso {
	margin-left: 20px;
}
.lead-inov {
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
ul.side-nav-links {
	display: block;
	padding: 0;
	>li {			
		padding: 20px 20px 20px 0;
		margin-left: auto;
		margin-right: auto;
		text-align: right;		
		text-decoration: none;
		list-style-type: none;
		background-color: $light_gray_color !important;
		border-bottom: 2px solid #FFF;
		&.item {
			@include line_height(12px);
			&.first {
				background: url(../images/t2-sub-nav-crosses1-100-percent.png) 30px 0 no-repeat;
			}
			&.active {
				background-color: $panel_active_color !important;
				> a {
					color: #fff;
					text-decoration: none;
				}
			}
		}
		&:nth-child(2) {
			background: url(../images/t2-sub-nav-crosses2-100-percent.png) 0 0 no-repeat;
		} 
		&:nth-child(3) {
			background: url(../images/t2-sub-nav-crosses3-100-percent.png) 0 0 no-repeat;
		} 
		&:nth-child(4) {
			background: url(../images/t2-sub-nav-crosses4-100-percent.png) 0 0 no-repeat;
		} 
		> a {
			letter-spacing: .01em;
			color: #000; 
			font-family: Arial;
			letter-spacing: .01em;	
			font-style: italic;
		}
	}
}

section {
	border-radius: 0;
	border-width: 0;
	outline: none;
	.panel-heading {
		text-align: right;
		padding-top: 0;
		padding-bottom: 0;
		.block-title {
			padding: 20px 0 20px 0;
			@include font_size(16px);
			@include line_height(24px);
		}
	}
}

.panel-group {
	.panel {
		border-radius: 0 !important;
		border-width: 0 !important;
		.panel-heading {
			padding-left: 85px;
			h2 {
				a {
					cursor: pointer;
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
		&#panel1 .panel-heading {
			
			background: url(../images/t2-sub-nav-crosses1-100-percent.png) 30px 0 no-repeat $light_gray_color;
		}
		&#panel2 .panel-heading {
			background: url(../images/t2-sub-nav-crosses2-100-percent.png) 0 0 no-repeat $light_gray_color;
		} 
		&#panel3 .panel-heading {
			background: url(../images/t2-sub-nav-crosses3-100-percent.png) 0 0 no-repeat $light_gray_color;
		} 
		&#panel4 .panel-heading {
			background: url(../images/t2-sub-nav-crosses4-100-percent.png) 0 0 no-repeat $light_gray_color;
		}
		&.active {
			.panel-heading {
				background-color: $panel_active_color !important;
				a {
					color: #fff !important;
					text-decoration: none;
				}
			}
			&#panel1 .panel-heading {
				background-image: url(../images/t2-sub-nav-crosses1-20-percent.png);
			}
			&#panel2 .panel-heading {
				background-image: url(../images/t2-sub-nav-crosses2-20-percent.png);
			} 
			&#panel3 .panel-heading {
				background-image: url(../images/t2-sub-nav-crosses3-20-percent.png);
			} 
			&#panel4 .panel-heading {
				background-image: url(../images/t2-sub-nav-crosses4-20-percent.png);
			}
		}
	}
} 
#tips {
	.tip {
		display: none;
		position: absolute;
		width: 225px;
		background-color: $tooltip_color;
		&.hovered {
			display: block;
		}
		
		.tip-cont {
			margin: 5px 8px;
			table tr td:first-child{
				width: 25%;
				vertical-align: top;
				padding: 0 0 0 0;
				margin: 0 0 0 0;
			}
			table tr td:nth-child(2){
				width: 66%;
				margin: 0 0 0 0;
				padding: 0 0 0 0;
				
			}
			table tr td p{
				width: 100% !important;
				padding: 0 0 0 0;
				margin: 0 0 5px 0;
				
			}


			/*.tlcol {
				float: left;
				
			}
			.trcol {
				float: right;
				padding-left: 5px;
			}*/
		}
	}
	#tri-left, #tri-right {
		display: none;
		position: absolute;
	}
}
.co-wb {
	border-top: 2px solid;
	border-bottom: 2px solid;

	&.sg {
		border-color: $navy_color;;	
	}
	&.gr {
		border-color: $lorange_color;
	}
	&.ri {
		border-color: $green_color;
	}	
}
.item-list {
	li {
		&.double-indent {
			list-style-type: circle;
		}
	}
}

#toTop {
	&.sticky {
		position: fixed;
		&:hover {
			cursor: pointer;
		}
	}
}

/*---------- Media Queries --------------------------------------------*/
/*																	   */
/*The following has been uploaded for reference						   */
/*																	   */
/* Extra small screen / phone: $screen-xs							   */
/* $screen-xs-min & $screen-phone = 480px to $screen-xs-max = 767px    */
/*																	   */
/* Small screen / tablet: $screen-sm								   */
/* $screen-sm-min & $screen-tablet = 768px to $screen-sm-max = 991px   */
/*																	   */
/* Medium screen / desktop: $screen-md								   */
/* $screen-md-min & $screen-desktop = 992px to $screen-md-max = 1999px */
/*																	   */
/* Large screen / wide desktop: $screen-lg					           */
/* $screen-lg-min 1200px to higher									   */
/*																	   */
/*---------------------------------------------------------------------*/

@media screen and (max-width: $screen-sm-min){ // width < 768
	.sog-image-wrap {
		margin-bottom: 20px;
	}
}

@media screen and (min-width: $screen-xs-min) and (max-width: $screen-sm-min){ // 480px < width < 768

	.lead-inov {
		margin-bottom: 20px;
	}
	#navbar {
		overflow: hidden;
		ul.nav {
			margin-left: 20px;
			margin-right: 20px;	
		}
		
	}
}

// TODO: I don't think we want to span this range of breakpoints; determine what's needed where and adjust ...
// Note: Also changed max-width from screen-md-min (992) to screen-sm-max (991) to avoid dead spots
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { // 768 < width < 991px Tablet


	

	
}
@media screen and (max-width: $screen-xs-max) { //  width < 767px - mobile
	#footer {
		margin-top: 35px;
	}
	#innov-container {
		background-color: $light_gray_color;
		& img {
			padding: 5px;
		}
	} 
	.sog-image-wrap {
		text-align: left;
		padding-left: 18px;
		margin-left: 0px;
	}
	.panel { 
		&.active {
			.panel-title {
			background: url(../images/m-white-arrow.png) 95% 51% no-repeat;
			}
		}		
		.panel-title {
			background: url(../images/m-blue-arrow.png) 95% 51% no-repeat;
			padding-right: 50px !important;
		}
	}
	.navbar  {
		display: none;
	}
	.tip {
		h3 {
			margin-top: 0 !important;
			@include font_size(16px);
		}
	}
	.co-wb {
		background-size: 100% 100% !important;
		&.sg {
			background:url('../images/m-sg-call-out.png') no-repeat;
			
		}
		&.gr {
			background:url('../images/m-gr-call-out.png') repeat-y;
		}
		&.ri {
			background:url('../images/m-ri-call-out.png') repeat-y;
		}
	}
	
	#toTop {
		&.sticky {
			bottom: 0;
			left: 50%;
		}
	}
	
	#tips {
		.tip {
			width: 94% !important;
			cursor: pointer;
			@include opacity(.8);
			.tip-cont td:first-child {
					width: 1% !important;
			}
			.trcol {
				padding-left: 0 !important;
			}
		}
	}
	
}

.co-wb {
	margin: 40px 0;
	&.sg, &.gr, &.ri {
		>p {
			margin: 25px 50px;
		}
	}
}

@media screen and (min-width: $screen-sm-min) { // width > 768px
	.cal-iso {
		margin-bottom: 35px;
	}	
	#main-content .row .col#side-nav {
			padding: 0;
	}
	ul.side-nav-links {			
		>li {			
			text-align: right;
			&.item {
				
			}
			> a, span {
				font-family: Arial, Helvetica, sans-serif;
			}
		}
	}
	.tip {
		@include font_size(10px);
		&.hovered {
			
		}
		h3 {
			margin: 0;
			padding: 0;
			@include font_size(10px);
		}		
		.tip-cont {
			//margin: 15px;
			.col {
				padding-top: 5px;
			
				h3, .tlcol, .trcol {
					padding: 0 !important;
				}
			}			
			&.row {
				margin: 0;
			}
		}	
	}
	.block-content {
		.right {
			float: right;
			margin-left: 20px;
			margin-bottom: 20px;
		}
		.left {
			float: left !important;
			margin-right: 20px; 
			margin-bottom: 20px;
		}
		.centered {
			display: block;
			margin: 40px auto 35px auto !important;
		}
	}
	#innov-container {
		display: inline-block;
		float: right;
	}	
	.co-wb {
		&.sg, &.gr, &.ri {
			>p {
				margin: 20px 100px;
			}
		}
	}
	.item-list {
		li {
			margin-left: 20px;
			&.double-indent {
				margin-left: 40px;
			}
		}
	}
	
	#toTop {
		&.sticky {
			bottom: 58px;
			left: 729px;
		}
	}
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { // 768px < width < 991px

	ul.side-nav-links {			
		margin-top: 62px;
		padding: 0 0 0 30px;
		>li {
			width: 219px;
			@include line_height(12px); // TODO: Note: This is where hidden line-height was found
			height: 39px;
			&.item {
				padding: 3px 10px 0 70px;
			}
			> a, span {
				@include line_height(12px,!important);
				@include font_size(10px, !important);
				letter-spacing: .01em;	
			}
		}
	}

	.footnotes ol li {
		@include font_size(10px);
		line-height: 12px;
	}
	#brand-cont {
		padding-right: 30px;
	}
	.jumbotron {
		padding: 0;
		margin: 0;
		background-color: #fff;
	}
	.lead-inov {
		margin-top: 0px;
		margin-bottom: 40px;
	}
	#main-content {
		.row .col#side-nav {
			padding: 0;
		}
		.rcol {
			padding-right: 30px !important;
			padding-left: 30px !important;
			.block-title {
				@include font_size(18px);
				@include line_height(18px);
				margin-top: 25px; // was 30
				margin-bottom: 17px; // was 20
			}
			.block-content {
				@include font_size(11px);
				@include line_height(13px);
				>.content-header {
					@include font_size(11px);
				}
			}
			.footnotes, .footnotes ul li {
				@include font_size(11px);
				@include line_height(13px);
			}	
		}
	}
	.co-wb {
		background-size: cover !important;
		&.sg {
			background:url('../images/t-sg-call-out.png') repeat-y;
			
		}
		&.gr {
			background:url('../images/t-gr-call-out.png') repeat-y;
		}
		&.ri {
			background:url('../images/t-ri-call-out.png') repeat-y;
		}
	}
		ul.head-nav {
			padding-right: 25px;
		}
}

@media screen and (min-width: $screen-md-min) { // width > 992px - max Desktop
	
	.lead-inov {
		float: right;
		margin-top: 10px;
		margin-bottom: 48px;
	}
	.cal-iso {
		float: left;
		margin-left: 0px;
	}	
	
	ul.head-nav {
		>li {
			&.last {
				margin-right: -3px;
			}
		}
	}
	
	// TODO: All side-nav formatting should be done in > 768 bp and only positioning and font changes at required bp's
	#side-nav {
		margin-top: 87px;
		ul.side-nav-links {			
			margin-top: 10px;
			height: 56px;
			width: 300px;
			
			>li {		
				margin-left: auto;
				margin-right: auto;			
				&.item {
					padding-left: 85px;
					//padding: 16px 0; // TODO: Note that we need left padding which is added on > 768 bp above
				}
				> a, span {
					//padding-right: 22px; // TODO: Note this is where the awkward right indent was occuring. The padding is not needed.
					@include font_size(13px);
					@include line_height(16px,!important);		
				}
			}
		}
	}
	.container .jumbotron {
		background-color: #fff;
		padding: 0;
		margin: 0;
		img {
			display: inline-block;
		}
	}
	#main-content {
		.row-no-margin {
			background: url(../images/d-t2-2014-state-of-the-grid.gif) 180px 99.5% no-repeat;
		}	
		.rcol {		
			padding: 0 65px;
			padding-left: 25px !important; // 25+15 = 40
			padding-right: 40px !important;
			.block-title {
				margin-top: 41px;
				margin-bottom: 25px;
			}
			.block-content, .footnotes {
				@include font_size(14px);
				@include line_height(20px);
				letter-spacing: .01em;
				>.content-header {
					@include font_size(14px);
					font-weight: bold;
					letter-spacing: .01em;
				}
			}	
		}
		.footnotes ol li {
			@include font_size(12px);
		}
	}	
	.co-wb {
		&.sg {
			background:url('../images/d-sg-call-out.png') repeat-y;
		}
		&.gr {
			background:url('../images/d-gr-call-out.png') repeat-y;
		}
		&.ri {
			background:url('../images/d-ri-call-out.png') repeat-y;
		}
	}
}
	