 /*colors*/
 
$footer_gray_color: #e5e5e5;
$appended_text_gray_color: #6b6b6b;
$light_gray_color: #f2f2f2;
$med_gray_text_color: #727272;
$gray_on_white_color: #999999;
$charcoal_color: #333333;
$navbar_active: #d9d9d9;

$nav_toggle_color: #666699;
$nav_toggle_outline_color: #CCCCCC;
$panel_active_color: #4f758b;
$tooltip_color: #b3e6e2;

// Nav colors
$green_color: #8dc63f;
$navy_color: #324b69;
$lorange_color: #fdb822;
$dorange_color: #ec7b23;
$teal_color: #35bdb2;
$olive_color: #8d8b00;

