/* _theme.scss */

// Color groups
.green-color, .ri-section .sc {
	color: $green_color;
}
.navy-color, .sg-section .sc {
	color: $navy_color;
}
.light-orange-color, .gr-section .sc {
	color: $lorange_color;
}
.teal-color, .eb-section .sc {
	color: $teal_color;
}
.olive-color, .be-section .sc {
	color: $olive_color;
}

.callout {
	text-align: center;
	p {
		font-style: italic;
		font-size: 120%;
		line-height: 150% !important;
	}
	.byline {
		display: block;
		font-size: 70%;
		@include line_height(16px);
		margin-top: 8px;
		.cname {
			font-weight: bold;
			font-style: normal;
		}
	}
	&.nobg {
		padding: 20px 50px;
	}
	&.co-wb {
		color: #000;
	}
}



/*----- Smallest breakpoint ("XS") -------*/

body:after { 
	content: "XS";
	display: none;
}

head {
	font-family: 'XS';
}

.col {
	h2, .col-content {
		padding: 15px;
	}
}

/*------ All Media Queries ----------*/


/*----- Mobile breakpoint --------*/

@media screen and (max-width: $screen-xs-min) { // width < 480
	.container {
		//padding: 0; // Pulls mobile navigation to edges (but adds right white margin on tablet (portrait) if screen-sm-min
	}
	.callout {
		margin: 25px 20px;
		&.nobg {
			padding: 0;
			p {
				margin: 0 !important;
			}
		}
	}
	
}

// At point that left and right margins are gone
@media screen and (max-width: $screen-xs-max) { // width < 767 (was $screen-sm-min 768)
	head { font-family:"S";}
	body:after{content:"S";}

	#main-content {
		.block-content {
			img {
				display: block;
				margin: 25px auto 35px auto !important;
			}
		}
	}
	.callout p{
		@include font_size(13px, !important);
		margin-left: 65px !important;
		margin-right: 65px !important;
	}
	
	
}

/*----- Mobile breakpoint -------*/ // TODO: Check error on _bootstrap_overrides vis-a-via this breakpoint max
@media screen and (max-width: $screen-sm-max) { // width < 991px
	
	#footer {	

	}
}


@media screen and (min-width: $screen-sm-min) { // width > 768px
	

}


/*----- Tablet breakpoint ("M") -------*/
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { // 768 < width < 991
	head { font-family:"M";}
	body:after{content:"M";}
	
	#footer {

	}
	
}



// Temporary: TODO: Identify and manage breakpoint at 1309
@media screen and (max-width: $screen-md-max) { // < 1309


	#footer {
		
	}
}


@media screen and (max-width: $screen-lg-min) { // width < 1310
	#footer {
		
	}
}
/*----- Target tablet up to 1310 width on desktop -------*/
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-lg-min) { // 768 < width < 1310
	.callout {
		margin: 25px 50px;
	}
	#footer {
		
	} 
}

/*----- Target mobile and tablet -------*/
@media screen and (max-width: $screen-sm-max) { // width < 991
	
	#footer {
		
	}
}
/*------ Desktop breakpoint (L) --------*/
@media screen and (min-width: $screen-md-min) and (max-width: $screen-lg-min) { // 992 < width < 1200
	
}

/*----- Desktop breakpoint -------*/
@media screen and (min-width: $screen-sm-max) { // width > 991 (was $screen-md-min or 992)
	head { font-family:"L";}
	body:after{content:"L";}
	.nobg {
		margin: 25px 100px;
	}
	
}

/*----- Large Desktop breakpoint -------*/
@media screen and (min-width: $screen-lg-min) { // width > 1310
	
}
/* /_theme.scss */